@model Appointer.Models.Appointment

@{
    ViewBag.Title = "رزرو وقت";
    //string StartHHmm = item.StartTime.ToString("HH:mm");
    //ViewBag.Title = Model.Service.JobCorp.User.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="info text-center">
        <div class="info-title"><strong>رزرو وقت</strong></div>
        <hr>
    </div>

    @ViewBag.Error
    @ViewBag.Message
    @using (Html.BeginForm("ChooseReserve", "Main", FormMethod.Post,new { @class = "form-horizontal text-center" }))
    {
        @Html.AntiForgeryToken()
                @Html.LabelFor(model => model.myDate)

        <span class="fa fa-calendar"></span>
                <br />
                <select name="selDate" id="selDate">  @*onchange = "javascript:Function();"*@

                    <option value="notset" selected="selected">لطفا یک تاریخ را انتخاب کنید</option>
                    @foreach (Appointer.Models.WorkingTime wt in ViewBag.WorkingTimes)
                    {
                        string sdate = wt.StartTime.ToPersianDateTime().ToString("yyyy/MM/dd");
                        <option value="@wt.Id">@sdate</option>

                    }
                </select>
                <br />
                <div class="ajaxRes"></div>
                <br/>

                <div class="input-group clockpicker">

                    <label for="Clock"> زمان </label>
                    <span class="fa fa-clock-o"></span><br />

                        @Html.EditorFor(model => model.start, new
                   {
                       value = "09:30"
                   })

                    

                </div>

                @Html.LabelFor(model => model.ServiceId)
                <br />
                <select name="ServiceId" id="ServiceId">
                    @foreach (Appointer.Models.Service s in ViewBag.Services)
                    {
                        <option value="@s.Id">@s.Title @Html.Raw(" - ") @s.Duration @Html.Raw(" دقیقه")</option>
                    }
                </select>
                <br />

                @Html.LabelFor(model => model.Description)
        <br/>
                @Html.TextAreaFor(model => model.Description)
                <br />
                <br />
                
                <button class="btn btn-default-custom" type="submit" value="Reserve">رزرو وقت</button>
                
    }





@section styles{
    <link href="~/Scripts/JsDatePicker/PersianDatePicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/JsDatePicker/clockpicker.css" rel="stylesheet" />

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JsDatePicker/PersianDatePicker.min.js"></script>

    <script src="~/Scripts/JsDatePicker/clockpicker.js"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
        $(document).ready(function () {
            var url = '@Url.Action("JsonInfo")'; // add controller name is necessary
            $('#selDate').change(function () {
                $.getJSON(url, { wtid: $('#selDate').val() }, function (response) {
                    //alert(response);
                    if (response == false) {

                        $(".ajaxRes").html("<br/>" + "<span style='color: red;'>چنین زمان کاری ای وجود ندارد</span>");

                    }
                    else
                    {
                        $(".ajaxRes").html("<br/>"+response.dow + "<span> از </span>" + response.StartTime + "<span> تا </span>" + response.EndTime + "<br/>" + response.JobTitle + "<br/>" + response.JobCorp);
                        if (response.ap.length > 0) {
                            $(".ajaxRes").append("<hr><span style='color:red;'>دیگر قرارهای این روز</span><br/>");
                        }
                        for (var j = 0; j < response.ap.length ; j++) {
                            $(".ajaxRes").append(response.ap[j].StartHour + " تا " + response.ap[j].EndHour + "<br/>");
                        }
                    }
                });
            });
        });

    </script>

}
