@model IEnumerable<Appointer.Models.JobCorp>

@{
    ViewBag.Title = " لیست کارکنان";//model.Job.Title
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@foreach (Appointer.Models.JobCorp jc in ViewBag.JobCorps)
{

    string t = jc.Job.Title;
    if (jc.RoleTitle == "صاحب کار")
    {
        <h2 class="text-center" لیست کارکنان @Html.ActionLink(t, "JobDetails", new { id = jc.JobId, @style = "color:#10aa10!important;" }) </h2>
    }

}
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.RoleTitle)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.Phone)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>

                <th></th>
            </tr>
        </thead>


        @foreach (Appointer.Models.JobCorp jc in ViewBag.JobCorps)
        {
            <tr>
                <td>
                    @Html.ActionLink(jc.User.FullName , "ChooseReserve", new { id = jc.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jc.RoleTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jc.User.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jc.User.Email)
                </td>

                <td>
                    @Html.ActionLink("رزرو وقت", "ChooseReserve", new { id = jc.Id })
                </td>
            </tr>
        }
    </table>
</div>
@foreach (Appointer.Models.JobCorp jc in ViewBag.JobCorps)
{
    <hr />
    <h4>@Html.ActionLink("مشخصات شغل", "JobDetails", new { id = jc.JobId })</h4>
    break;
}
