@model Appointer.Models.Appointment

@{
    ViewBag.Title = "ویرایش قرار ملاقات";
    Layout = "~/Views/shared/_layout.cshtml";
}


<div class="info text-center">
    <div class="info-title"><strong>ویرایش قرار</strong></div>
    <hr>
</div>

@ViewBag.Error
@ViewBag.Message
@using (Html.BeginForm("ReserveEdit", "Main", FormMethod.Post, new { @class = "form-horizontal text-center" }))
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.myDate)
    <span class="fa fa-calendar"></span>
    <br/>
    @Html.EditorFor(model => model.myDate)

    <br/>
    @Html.ValidationMessageFor(model => model.myDate)

    <div class="input-group clockpicker text-center">
         
        <label for="Clock"> زمان </label>
        <span class="fa fa-clock-o"></span><br />
        @Html.EditorFor(model => model.start, new
               {
                   
                   value = "09:30"
               })

    
    </div>

                @Html.LabelFor(model => model.ServiceId)
                <br />
                <select name="ServiceId" id="ServiceId">
                    @foreach (Appointer.Models.Service s in ViewBag.Services)
                    {
                        <option value="@s.Id">@s.Title @Html.Raw(" - ") @s.Duration @Html.Raw(" دقیقه")</option>
                    }
                </select>
                <br />

                <br />
                @Html.LabelFor(model => model.Description)

    <br />
                @Html.TextAreaFor(model => model.Description)
                <br />

                <button class="btn btn-default-custom" type="submit" value="Edit">ویرایش قرار</button>

}


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    @Html.DisplayName("تاریخ")
                </th>
                <th class="text-right">
                    @Html.DisplayName(" شروع")
                </th>
                <th class="text-right">
                    @Html.DisplayName(" پایان")
                </th>
            </tr>
            </thead>
            @foreach (Appointer.Models.WorkingTime wt in ViewBag.WorkingTimes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => wt.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wt.StartTime.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wt.EndTime.TimeOfDay)
                    </td>
                </tr>
            }
    </table>
</div>



@section styles{
    <link href="~/Scripts/JsDatePicker/PersianDatePicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/JsDatePicker/clockpicker.css" rel="stylesheet" />

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JsDatePicker/PersianDatePicker.min.js"></script>

    <script src="~/Scripts/JsDatePicker/clockpicker.js"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>

}
