
@model Appointer.Models.User

@{
    ViewBag.Title = "ثبت نام";
    Layout = "~/Views/shared/_layout.cshtml";
}


    <div class="info text-center">
        <div class="info-title"><strong>ثبت نام</strong></div>
        <hr>
    </div>

    @ViewBag.Error
    @ViewBag.Message
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "form-horizontal text-center" }))
    {

        

                @Html.LabelFor(model => model.Email)
                <br />
                @Html.TextBoxFor(m => m.Email)
        <br />
                @Html.ValidationMessageFor(m => m.Email)
                <br />

                @Html.LabelFor(model => model.FullName)
                <br />
                @Html.TextBoxFor(m => m.FullName)
        <br />
                @Html.ValidationMessageFor(m => m.FullName)
                <br />

                @Html.LabelFor(model => model.Password)
                <br />
                @Html.PasswordFor(m => m.Password)
        <br />
                @Html.ValidationMessageFor(m => m.Password)
                <br />

                @Html.LabelFor(model => model.Phone)
                <br />
                @Html.TextBoxFor(m => m.Phone, new { maxlength = "11", onkeyup = "this.value = this.value.replace(/[^0-9]/, '')" })
        <br />
        @Html.ValidationMessageFor(m => m.Phone)
                <br />

                @Html.LabelFor(model => model.CityId)
                <br />
                <select name="CityId" id="CityId">
                    @foreach (Appointer.Models.City cities in ViewBag.cities)
                    {
                        <option value="@cities.Id">@cities.Name</option>
                    }
                </select><br />
                <br />



                @Html.LabelFor(model => model.UserRoleId)
                <br />


                @Html.DropDownListFor(model => model.UserRoleId, Enum.GetNames(typeof(Appointer.Models.UserRole_Persian)).Where(p => p != "مدیر").Select(e => new SelectListItem { Text = e, Value = (int)Enum.Parse(typeof(Appointer.Models.UserRole_Persian), e) + "" }))
                <br />

                <br />

                @Html.LabelFor(model => model.About)
                <br />
                @Html.TextAreaFor(m => m.About)
                <br />
                <br />
          
                
                <button class="btn btn-default-custom" type="submit" value="Sign Up">ثبت نام</button>
            
                
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



