@model Appointer.Models.User

@{
    ViewBag.Title = "ورود";
}

    <div class="info text-center">
        <div class="info-title"><strong>ورود به سامانه</strong></div>
        <hr>
    </div>
    @ViewBag.Error
    @ViewBag.Message
    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form-horizontal text-center" }))
    {

                <label for="Email">نام یا ایمیل: </label><br />
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)


                <br />

                <label for="Password"> رمز عبور: </label><br />
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)

            <br />
            <br />
                <button class="btn btn-default-custom" type="submit" value="Log in">ورود</button>
            
   
    }
