@model Appointer.Models.WorkingTime

@{
    ViewBag.Title = "افزودن روز کاری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="info text-center">
    <div class="info-title"><strong>افزودن روز کاری</strong></div>
    <hr>
</div>
@ViewBag.Error
@using (Html.BeginForm("AddWorkingDate", "JCDashboard", FormMethod.Post, new { @class = "form-horizontal text-center" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()
    @Html.LabelFor(model => model.myDate)
    <br />
        @Html.EditorFor(model => model.myDate)
        <br />
        @Html.ValidationMessageFor(model => model.myDate)

        <div class="input-group clockpicker">

            @Html.EditorFor(model => model.start, new
               {
                   @class = "form-control",
                   value = "09:30"
               })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>


                <div class="input-group clockpicker">

                    @Html.EditorFor(model => model.end, new
             {
                 @class = "form-control",
                 value = "10:00"
             })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <button class="btn btn-default-custom" type="submit" value="Add">ثبت زمان</button>

}
<p>

    @Html.ActionLink("افزودن دسته‌ای زمان‌های کاری", "AddWorkingTime") |

    @Html.ActionLink("حذف زمان‌های کاری", "ModifyWorkingDate")
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    @Html.DisplayName("تاریخ")
                </th>
                <th class="text-right">
                    @Html.DisplayName(" شروع")
                </th>
                <th class="text-right">
                    @Html.DisplayName(" پایان")
                </th>
                <th class="text-right">
                    @Html.DisplayName("روز")
                </th>
            </tr>
        </thead>

            @foreach (Appointer.Models.WorkingTime wt in ViewBag.WorkingTimes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => wt.StartTime)
                    </td>
                    @{string StartHHmm = wt.StartTime.ToString("HH:mm");  }

                    <td>
                        @Html.DisplayFor(modelItem => StartHHmm)
                    </td>

                    @{string EndHHmm = wt.EndTime.ToString("HH:mm");  }
                    <td>
                        @Html.DisplayFor(modelItem => EndHHmm)
                    </td>


                    <td>

                        @*@Html.DisplayFor(modelItem => Model.StartTime, Enum.GetNames(typeof(Appointer.Models.DaysOfWeek_Persian)).Select(e => new SelectListItem { Text = e, Value = (int)Enum.Parse(typeof(Appointer.Models.DaysOfWeek_Persian), e) + "" }))*@

                        @Html.DisplayFor(modelItem => wt.StartTime.DayOfWeek, Enum.GetNames(typeof(Appointer.Models.DaysOfWeek_Persian)))




                    </td>
                </tr>
                        }
    </table>
</div>



@section styles{
    <link href="~/Scripts/JsDatePicker/PersianDatePicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/JsDatePicker/clockpicker.css" rel="stylesheet" />

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JsDatePicker/PersianDatePicker.min.js"></script>

    <script src="~/Scripts/JsDatePicker/clockpicker.js"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>

}