@model Appointer.Models.WorkingTime

@{
    ViewBag.Title = "افزودن زمان کاری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="info text-center">
    <div class="info-title"><strong>افزودن زمان کاری</strong></div>
    <hr>
</div>
@ViewBag.Error
@using (Html.BeginForm("AddWorkingTime", "JCDashboard", FormMethod.Post, new { @class = "form-horizontal text-center" }))
{
    @Html.AntiForgeryToken()


    <div class="panel">
        <div class="panel-heading">روزهای هفته</div>
        <div class="panel-body">
            <select title="روزهای هفته" name="WeekDayId" id="WeekDayId" multiple="multiple" class="js-example-basic-multiple">

                <option value="6">شنبه</option>

                <option value="0">یکشنبه</option>

                <option value="1">دوشنبه</option>

                <option value="2">سه‌شنبه</option>

                <option value="3">چهارشنبه</option>

                <option value="4">پنج‌شنبه</option>

                <option value="5">جمعه</option>
            </select>
        </div>
    </div>

                @*<div class="input-group clockpicker">
                        <input type="text" class="form-control clockpicker" value = "10:00" />

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>*@

                <div class="panel">
                    <div class="panel-heading">ساعت شروع و پایان</div>
                    <div class="panel-body">
                        <div class="editor-field att-wrapper"></div>
                    </div>
                    <div class="plus">
                        <a id="Add_att" href="#">
                            <i class="fa fa-plus-square" aria-hidden="true" style="color:#10aa10"></i><br /><br />
                        </a>
                    </div>
                </div>


                @*<div class="input-group clockpicker">
                        <input type="text" name="" class="form-control" value="09:30">

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>*@


                @*<div class="input-group clockpicker">

                          @Html.EditorFor(model => model.end, new
                    {
                        @class = "form-control",
                        value = "10:00"
                    })
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>*@



                <button class="btn btn-default-custom" type="submit" value="Add">ثبت زمان</button>
                        <br />
                        <hr />
}
@*@{

        private AppointerEntities db = new AppointerEntities();
        var hasWorkingTimes = db.WorkingTimes.Any(p => p.JobCorp.UserId == SessionPersister.UserId);
    }
    @if ()
    {*@
<p>

    @Html.ActionLink("افزودن یک روز خاص به زمان‌های کاری", "AddWorkingDate") |

    @Html.ActionLink("حذف زمان‌های کاری", "ModifyWorkingDate")
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    @Html.DisplayName("تاریخ")
                </th>
                <th class="text-right">
                    @Html.DisplayName(" شروع")
                </th>
                <th class="text-right">
                    @Html.DisplayName(" پایان")
                </th>
            </tr>
            </thead>

            @foreach (Appointer.Models.WorkingTime wt in ViewBag.WorkingTimes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => wt.StartTime)
                    </td>
                    @{string StartHHmm = wt.StartTime.ToString("HH:mm");  }

                    <td>
                        @Html.DisplayFor(modelItem => StartHHmm)
                    </td>

                    @{string EndHHmm = wt.EndTime.ToString("HH:mm");  }
                    <td>
                        @Html.DisplayFor(modelItem => EndHHmm)
                    </td>
                </tr>
                        }
</table>
</div>


@section styles{
    <link href="~/Scripts/JsDatePicker/PersianDatePicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/JsDatePicker/clockpicker.css" rel="stylesheet" />
    <link href="~/Scripts/JsDatePicker/select2.min.css" rel="stylesheet" />

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JsDatePicker/PersianDatePicker.min.js"></script>
    <script src="~/Scripts/JsDatePicker/select2.min.js"></script>
    <script src="~/Scripts/JsDatePicker/clockpicker.js"></script>
    <script type="text/javascript">
        $(".js-example-basic-multiple").select2();
        var i = -1;
        $(function () {
            //$(".editor-field.att-wrapper").append('<div id="me" class="input-group clockpicker"></div>');
            var count_att = 0;
            $("#Add_att").click(function () {
                i++;
                var x = $('<div class="input-group clockpicker text-center"><span>از:&nbsp;</span><input type="text" id="Range_' + i + '__StartHour" name="Range[' + i + '].StartHour" value="08:30"></div></div><br/>');
                var y = $('<div class="input-group clockpicker text-center"><span>تا:&nbsp;</span><input type="text" id="Range_' + i + '__EndHour" name="Range[' + i + '].EndHour" value="16:30"></div></div>');

                $(".editor-field.att-wrapper").append('<br/>مدت زمان کاری ' + ++count_att + '<br/>').append(x).append(y);


                x.clockpicker();
                y.clockpicker();
            });
            //<div class="input-group clockpicker"><span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span><input type="text" id="Range_' + i + '__StartHour" name="Range[' + i + '].StartHour" class="form-control" data-val="true" data-val-required="لطفا فیلد ساعت را پر کنید" value="09:30"></div>
            // alert($('#me').length);
        });
        //

    </script>

}