@model Appointer.Models.Appointment

@{
    ViewBag.Title = "جزئیات ملاقات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">جزئیات ملاقات</h2>
<hr />
<div>
    <hr />
    <dl class="main-container">

        <dt>
            @Html.DisplayNameFor(model => model.BookDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookDate)
        </dd>

        <br />

        <dt>
            @Html.DisplayName("تاریخ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <br />

        <dt>
            @Html.DisplayName("ساعت شروع")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime.TimeOfDay)
        </dd>

        <br />


        <dt>
            @Html.DisplayName("ساعت پایان")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime.TimeOfDay)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Service.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Title)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Service.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Duration)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.User.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.City.Name)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <br />



    </dl>
</div>


<p>
    @Html.ActionLink("کنسل", "AppointmentCancellation", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت به قرارها", "AppointmentList")
</p>
