@model IEnumerable<Appointer.Models.Appointment>

@{
    ViewBag.Title = "لیست قرارهای کاری گذشته";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<br />
<h3>لیست قرارهای کاری گذشته</h3>
<br />
@ViewBag.Error
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.BookDate)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th class="text-right">
                    @Html.DisplayName("شروع")
                </th>
                <th class="text-right">
                    @Html.DisplayName("پایان")
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Service.Title)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Service.Duration)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.User.Phone)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                @{string StartHHmm = item.StartTime.ToString("HH:mm");  }

                <td>
                    @Html.DisplayFor(modelItem => StartHHmm)
                </td>

                @{string EndHHmm = item.EndTime.ToString("HH:mm");  }
                <td>
                    @Html.DisplayFor(modelItem => EndHHmm)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Service.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Phone)
                </td>
                <td>
                    @if (item.isReserved == false)
                    {

                        <button class="btn btn-danger" type="button" value="Cancelled">کنسل شد</button> <span> |</span>
                        @Html.ActionLink("جزئیات", "AppointmentDetails", new { id = item.Id })

                    }
                    else
                    {

                        @Html.ActionLink("جزئیات", "AppointmentDetails", new { id = item.Id })
                    }


                </td>
            </tr>
                    }

    </table>
</div>

<hr />
<h4>@Html.ActionLink("قرارهای آتی", "AppointmentList")</h4>
