@model IEnumerable<Appointer.Models.WorkingTime>

@{
    ViewBag.Title = "حذف زمان‌های کاری";
    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="info text-center">
    <div class="info-title"><h2>حذف زمان‌های کاری</h2></div>
</div>

<hr />
@ViewBag.Info
<div class="input-form">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-right">
                            @Html.DisplayName("تاریخ")
                        </th>
                        <th class="text-right">
                            @Html.DisplayName(" روز")
                        </th>
                        <th class="text-right">
                            @Html.DisplayName(" شروع")
                        </th>
                        <th class="text-right">
                            @Html.DisplayName(" پایان")
                        </th>

                        <th></th>
                    </tr>
                </thead>
@functions{
    public string pdate(DayOfWeek day)
    {
        switch (day)
        {
            case DayOfWeek.Sunday:
                return "یکشنبه";


            case DayOfWeek.Monday:
                return "دوشنبه";

            case DayOfWeek.Tuesday:
                return "سه‌شنبه";

            case DayOfWeek.Wednesday:
                return "چهارشنبه";

            case DayOfWeek.Thursday:
                return "پنج‌شنبه";

            case DayOfWeek.Friday:
                return "جمعه";

            case DayOfWeek.Saturday:
                return "شنبه";

            default:
                return "روز هفته";
        }
    }
}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            <span>@pdate(item.StartTime.DayOfWeek)</span>
                        </td>

                        @{string StartHHmm = item.StartTime.ToString("HH:mm");  }

                        <td>
                            @Html.DisplayFor(modelItem => StartHHmm)
                        </td>

                        @{string EndHHmm = item.EndTime.ToString("HH:mm");  }
                        <td>
                            @Html.DisplayFor(modelItem => EndHHmm)
                        </td>

                        @using (@Html.BeginForm("ModifyWorkingDate", "JCDashboard", FormMethod.Post))
                        {


                            <td>

                                <input type="hidden" name="wtid" id="wtid" value="@item.Id" />
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <input type="submit" class="btn btn-danger" value="حذف زمان کاری" />
                                    </div>
                                </div>
                            </td>
                        }

                    </tr>
                }
            </table>
        </div>
    </div>
</div>