@model Appointer.Models.Job

@{
    ViewBag.Title = "افزودن شغل";
    Layout = "~/Views/shared/_layout.cshtml";
}

    <div class="info text-center">
        <div class="info-title"><strong>افزودن شغل</strong></div>
        <hr>
    </div>

    @ViewBag.Error
    @ViewBag.Message
    @using (Html.BeginForm("Create", "Jobs", FormMethod.Post, new { @class = "form-horizontal text-center" }))
    {
        @Html.AntiForgeryToken()
        
        

                @Html.LabelFor(model => model.Title)
                <br />
                @Html.EditorFor(model => model.Title)
                <br />
                @Html.ValidationMessageFor(model => model.Title)
                <br />

                @Html.LabelFor(model => model.JobPhone)
                <br />
                @Html.TextBoxFor(m => m.JobPhone, new { maxlength = "11", onkeyup = "this.value = this.value.replace(/[^0-9]/, '')" })
                <br />
                @Html.ValidationMessageFor(model => model.JobPhone)
                <br />


                @Html.LabelFor(model => model.Address)
                <br />
                @Html.TextAreaFor(m => m.Address)
                <br />


                @Html.LabelFor(model => model.CityId)
                <br />
                <select name="CityId" id="CityId">
                    @foreach (Appointer.Models.City cities in ViewBag.cities)
                    {
                        <option value="@cities.Id">@cities.Name</option>
                    }
                </select>
                <br />

                <br />

                @Html.LabelFor(model => model.JobTypeId)
                <br />
                <select name="JobTypeId" id="JobTypeId">
                    @foreach (Appointer.Models.JobType jt in ViewBag.jt)
                    {
                        <option value="@jt.Id">@jt.Title</option>
                    }
                </select>
                <br />
                <br />
                @*Html.LabelFor(model => model.JobTypeId)
                <br />
                @Html.DropDownListFor(model => model.JobTypeId, new SelectList(ViewBag.jt, "Id", "Title"))
                <br />*@

                @Html.LabelFor(model => model.About)
                <br />
                @Html.TextAreaFor(m => m.About)
                <br />
                <br />
                
                <button class="btn btn-default-custom" type="submit" value="Create">ثبت شغل</button>
          
                

    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


