@model Appointer.Models.JobCorp

@{
    ViewBag.Title = "DeleteJobCorp";
}

<h2>Delete</h2>

<h3>آیا از حذف همکار زیر مطمئن هستید؟</h3>
<div>
    <h4>JobCorp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteJobCorp" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "JobCorpsList")
        </div>
    }
</div>
