@model Appointer.Models.Job

@{
    ViewBag.Title = "مشخصات شغل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="color:#10aa10">@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="main-countainer">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.JobPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPhone)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.JobType.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType.Title)
        </dd>

    </dl>
</div>
