@model Appointer.Models.Job

@{
    ViewBag.Title = "ویرایش شغل";
    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="fullpage-form">
    <div class="info">
        <div class="info-title"><strong>ویرایش شغل</strong></div>
        <hr>
    </div>

    @ViewBag.Error
    @ViewBag.Message
    @using (Html.BeginForm("Edit", "Jobs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="col-sm-4 col-sm-offset-4">
            <div class="col-xs-12">

                @Html.HiddenFor(model => model.Id)

                @Html.LabelFor(model => model.Title)
                <br />
                @Html.EditorFor(model => model.Title)
                
                @Html.ValidationMessageFor(model => model.Title)

                <br />
                @Html.LabelFor(model => model.JobPhone)
                <br />
                @Html.EditorFor(m => m.JobPhone, new { maxlength = "11", onkeyup = "this.value = this.value.replace(/[^0-9]/, '')" })
                
                @Html.ValidationMessageFor(model => model.JobPhone)
                <br />


                @Html.LabelFor(model => model.Address)
                <br />
                @Html.EditorFor(m => m.Address)
                <br />


                @Html.LabelFor(model => model.CityId)
                <br />
                <select name="CityId" id="CityId">
                    @foreach (Appointer.Models.City cities in ViewBag.cities)
                    {
                        <option value="@cities.Id">@cities.Name</option>
                    }
                </select>
                <br />



                @Html.LabelFor(model => model.JobTypeId)
                <br />
                <select name="JobTypeId" id="JobTypeId">
                    @foreach (Appointer.Models.JobType jt in ViewBag.jt)
                    {
                        <option value="@jt.Id">@jt.Title</option>
                    }
                </select>
                <br />

                @Html.LabelFor(model => model.EnrollmentKey)
                <br />
                @Html.EditorFor(model => model.EnrollmentKey)
                @Html.ValidationMessageFor(model => model.EnrollmentKey)
                <span>برای افزودن همکاران باید کلیدی بیفزایید تا همکار با وارد کردن آن به شما ملحق شود</span>
                <br/>
                @*@Html.DisplayText("برای افزودن همکاران باید کلیدی بیفزایید تا همکار با وارد کردن آن به شما ملحق شود")*@
                @*Html.LabelFor(model => model.JobTypeId)
                    <br />
                    @Html.DropDownListFor(model => model.JobTypeId, new SelectList(ViewBag.jt, "Id", "Title"))
                    <br />*@
                <br />
                @Html.LabelFor(model => model.About)
                <br />
                @Html.EditorFor(m => m.About)
                <br />
                <br />
            </div>

            <div class="col-xs-8 col-xs-offset-2">
                <button class="btn btn-sm btn-primary btn-block" type="submit" value="Edit">ویرایش شغل</button>
            </div>

        </div>

    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


