@*@model Appointer.Models.Job*@
@model IEnumerable<Appointer.Models.JobCorp>


@{
    ViewBag.Title = "لیست همکاران";

    Layout = "~/Views/shared/_layout.cshtml";
}


<div class="info text-center">
    <div class="info-title"><strong>لیست همکاران</strong></div>
    <hr>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.User.Phone)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.RoleTitle)
                    </th>
                    <th></th>
                </tr>
            </thead>
                @foreach (Appointer.Models.JobCorp jc in ViewBag.JobCorps)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => jc.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => jc.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => jc.User.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => jc.RoleTitle)
                        </td>
                        <td>
                            @Html.ActionLink("حذف همکار", "DeleteJobCorp", new { id = jc.Id })
                        </td>
                    </tr>
                }
        </table>
    </div>
}
<h5>برای افزودن همکاران از سمت راست منو، ویرایش شغل را انتخاب کرده و کلید ثبت نام برای همکاران تعریف کنید</h5>




