@model Appointer.Models.Service

@{
    ViewBag.Title = "افزودن سرویس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info text-center">
    <div class="info-title"><strong>افزودن سرویس</strong></div>
    <hr>
</div>
    @ViewBag.Error
    @using (Html.BeginForm("Create","Services", FormMethod.Post, new { @class = "form-horizontal text-center" }))
    {

        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        
                @Html.LabelFor(model => model.Duration)
                <br />
                @Html.EditorFor(model => model.Duration)
        <br />
                @Html.ValidationMessageFor(model => model.Duration)
                <br />

                @Html.LabelFor(model => model.Title)
                <br />
                @Html.EditorFor(model => model.Title)
        <br />
                @Html.ValidationMessageFor(model => model.Title)

                <br />
                @Html.LabelFor(model => model.Description)
                <br />
                @Html.EditorFor(model => model.Description)
        <br />
                @Html.ValidationMessageFor(model => model.Description)
                <br /><br />
                
                <button class="btn btn-default-custom" type="submit" value="Create">افزودن سرویس</button>
           
            

    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
