@model Appointer.Models.Service

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>آیا از حذف سرویس زیر مطمئن هستید؟</h3>

<div class="fullpage-form">

    <hr />


    <div class="col-sm-4 col-sm-offset-4">
        <div class="col-xs-12">
            <dl class="main-container">


                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Duration)
                </dd>



                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.JobCorp.RoleTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JobCorp.RoleTitle)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-xs-8 col-xs-offset-2">
                <button class="btn btn-sm btn-danger btn-block" type="submit" value="حذف سرویس">حذف سرویس</button>
            </div>
        }

    </div>



</div>
