@model Appointer.Models.Service

@{
    ViewBag.Title = "ویرایش سرویس";
}

<div class="info text-center">
    <div class="info-title"><strong>ویرایش سرویس</strong></div>
    <hr>
</div>
@using (Html.BeginForm("Edit", "Services", FormMethod.Post, new { @class = "form-horizontal text-center" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    @Html.LabelFor(model => model.Title)
    <br />
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
    <br />



                @Html.LabelFor(model => model.Duration)
                <br />
                @Html.EditorFor(model => model.Duration)
                <br />
                @Html.ValidationMessageFor(model => model.Duration)
                <br />

                @Html.LabelFor(model => model.Description)
                <br />
                @Html.EditorFor(model => model.Description)
                <br />
                @Html.ValidationMessageFor(model => model.Description)
                <br />

                <button class="btn btn-default-custom" type="submit" value="Edit">ویرایش سرویس</button>

}


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
